layout {
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c";
}

.nav {
  grid-area: a;
}

.body {
  grid-area: b;
  display: flex;
  justify-content: center;
}

.foot {
  grid-area: c;
}